*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;

}
a{
    text-decoration: none;
}
body{
    margin: 8px 0;
}
.home-page{
    background-image: url(./img/banner-bg.jpg);
    height: 150vh;
    background-size :cover;
    width: 100%;
    background-position: center ;
    border-radius: 0px 0px 150px 150px;
}
.header{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    padding: 40px;
    /* background-color: black; */
}
.navbarr{
    padding: 20px;

}
.logo{
    margin-left: 20px;
}
.list{
    font-size: 16px;
    margin-right: 20px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 20px;
}
.list:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
#signin-btn{
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
    background-color: #ee626b;
}

/* home */
.home-page-container{
    display: flex;
    justify-content: space-around;
    /* margin-top: 60px; */
    padding: 110px 40px;
}
.home-left{
    margin-left: 0;
    width: 580px;
}
.left-contant{
    padding: 0 12px;
}
.left-contant h5{
    font-size: 20px;
    color: white;
}
.left-contant h2{
    font-size: 48px;
    margin: 20px 0 40px;
    font-weight: 700;
    color: white;
}
.left-contant p{
    font-size: 15px;
    margin: 0 0 70px;
    color: white;
    line-height: 2;
}
.home-search-form{
    max-width: 350px;
    height: 50;
    padding: 0 20px;

    padding: 0px 25px;
    border-radius: 30px;
    background-color: white;
}
.home-search-input{
    border:none;
    padding: 17px 0;
    width: 243px;
    font-size: 16px;
    /* position: relative; */
}
.home-search-input:focus {
    outline: none;
    border: none;
}
.search-btn{
    position: absolute;
    padding: 17px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin: 0;
    border-radius: 30px;
    border: none;
    background-color: #ee626b;
}

.home-right{

}
.right-contant{
    margin:  0 0 0 190px;
    position: relative;
}
.right-contant img{
    width: 355px;
    /* height: 434px;    */
    border-radius: 25px;
}
.home-price{
    position: absolute;
    padding: 7px 15px;
    border-radius: 30px;
    background-color: #008af8;
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0 0 -90px;
}
.home-offer{
    position: absolute;
    font-size: 28px;
    background-color: #ee626b;
    border-radius: 50%;
    font-weight: 700;
    color: white;
    padding: 35px 20px;
    margin: 360px 0 0 -375px ;
}

/* card */
.row-cards{
    position: absolute;
    margin-top: -90px;
    margin-left: 60px;
    display: flex;
    gap: 20px;
    /* justify-content: space-around; */
}
.feature-row{
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px 0px;
    padding: 35px 70px;
    margin: 0 10px 0 0;
}
.feature-row a{
    text-decoration: none;
}
.feature-img{
    background-color: #008af8;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.feature-img img{
    margin-top: 25px;
}
.card-item h4{
    margin-top: 20px;
    font-size: 17px;
    color:black;
    font-weight: 800;
}



/* container */
.container{
    /* padding: 0 30px; */
}
/* trending page */
.trending-page{
    margin-top: 260px;
    height:  471.792px;
}
.trending-page-contant{
    margin: 0;
}
.trending-page-heading-div{
    display: flex;
    justify-content: space-between;
    /* border: black 2px solid; */
}
.trending-page-heading-div h6{
    color: #ee626b;
    font-weight: 700;
}
.trending-page-heading-div h2{
    font-weight: 800;
    font-size: 36px;
    margin-top: 25px;
}
.trending-page-view-btn{
    padding: 30px 10px 0 0;
}
.trending-page-view-btn button{
    color: white;
    padding: 13px 30px;
    font-weight: 600;
    background-color: #ee626b;
    border-radius: 30px;
    border: none;
}

.trending-page-cards-row{
    margin-top: 60px;
    height: 100%;
    display: flex;
}
.single-card{
    padding: 0 10px;
}
#card1{
    border-radius: 25px;
    background-color: #eeeeee;
}

#card-img-top{
    height: 191px;
    border-radius: 25px;
}
.trending-page-cards-rate{
    position: absolute;
    background-color: #008af8;
    color: white;
    padding: 5px 12px;
    border-radius: 10px;
    margin: 18px 0 0 70%;
    text-align: center;
}
.trending-page-card-top-rate em{
    text-decoration: line-through;
    margin-top: 0;
    font-size: 14px;
}
.trending-page-card-top-rate{
    font-weight: 800;
    font-size: 17px;
}
.card-body1{
    margin: 25px 0 15px 0;
    display: flex;
    justify-content: space-between;
}
.trending-page-cards-contant {
    margin-left: 20px;
}
.trending-page-cards-contant p{
    font-size: 15px;
    color:#7a7a7a;
}
.trending-page-cards-contant h4{
    font-size: 17px;
    margin-top: -10px;
    font-weight: 600;
}
.trending-page-cards-link{
    margin: 0 20px 0 0;
}
.trending-page-cards-link i{
    padding: 15px;
    border-radius: 50%;
    color: white;
    background-color: #ee626b;
}


/* most played page */
.section-most-played{
    margin: 120px 0 0 0;
    padding: 100px 0 0 0;
    border:black 2px solid
}