*{
    margin: 0;
    padding: 0;
}
.lavishly-yours-regular {
    font-family: "Lavishly Yours", serif;
    font-size: 23.5px;
    font-weight: 400;
    font-style: normal;
}
marquee{
    font-family: "Lavishly Yours", serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: rgb(250, 250, 250);
}
.qq{
    display: flex;
}
a{
    text-decoration: none;
}
.previous-button{
    margin-left: 50px;
    margin-top: 270px;
}
.previous-button a{
    font-weight: bold;
    font-size: 60px;
}
.next-button{
    margin-top: 270px;
    margin-right: 70px;
}
.next-button a{
    font-weight: bold;
    font-size: 60px;
}
body{
    padding: 10px 0 0px 0;
    background-color: #828bb1;
}
.menu nav{
    margin:12px 0 0 0px;
    height: 93%;
    padding: 20px 25px 0 20px;
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow:  3px 1px 4px rgba(202, 198, 198, 0.1);
}
.menu nav a{
    display: block;
    font-size: 17px;
    font-weight:bold;
    padding:60px 0px;
}
.menu nav a:link {
    color: rgb(152, 18, 240);
}
.menu nav a:hover {
    color: red;
    font-size: 120%;
    text-decoration: underline;
}
.newspaper{
    padding: 30px;
    max-width: 700px;
    margin: 10px auto;
    background-color: white;
}
.head{
    text-align: center;
    border-bottom: 4px black double  ;
    padding-bottom: 30px;
}
.newspaper .title{
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    margin: 0;
    font-weight: bold;
    color: rgb(255, 89, 0);
}
.sub{
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0;
}
.main-heading{
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
    color: rgb(254, 1, 107);
}
.main .main-content{
    margin: 20px 0 0 10px;
    display: flex;
}
.main .img1 img{
    border-radius: 0px;
    height:270px;
}
.main .content{
    margin-left: 50px;
}
.h3{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    color: rgb(81, 0, 255);
}
.p1{
    line-height: 1.7;
    text-indent: 50px;
    text-align: justify;
    font-size: 1.2em;
}
.i1{
    line-height: 1.7;
    font-style: italic;
}
.main .quote{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius:10px;
    background-color: #fff9e6;
}
