*{
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
}
body{
    margin: 0;
    padding: 1px;
}
a{
    text-decoration: none;
}
center h1{
    font-size: 35px;
    font-weight: bold;
}
header{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #3d405b;
    width: 100%;
    height: 95px;
    gap: 80px;
    z-index: 99;
    position: fixed;
    top: 0;
}
.logo{
    margin-left: 30px;
    display: flex;
}
.logo img{
    width: 48px;
    height: 48px;
}
.logo .brand-name{
    color: white;
}
.brand-name{
    text-align: center;
    margin-top: 8px;
    margin-left: 10px;
}
nav{
    margin-left: 50px;
}
header .list{
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-left :50px;
}
.list:hover{
    color: #f2cc8f ;
}
.Membership-button{
    margin-right: 40px;
    margin-left: -10px;
}
.Membership-button .button{
    padding: 10px 15px;
    border: #f2cc8f 2px solid;
    border-radius: 20px ;
    font-weight: bold;
    color: #f2cc8f;
    background-color: #3d405b;
}
.Membership-button .button:hover{
    color: white;
    background-color: #f2cc8f;
}
.drop{
    display: inline-block;
}
.main{
    margin-top: 95px;
}



/* home style */
.home{
    background-image: url(./img/1735571182711.jpg);
    background-repeat: no-repeat;
    height: 85vh;
    background-size: 100% 100%;
}
.container1{
    padding: 80px 40px 40px 40px;
}
#container1{
    height: 66.4vh;
    background-color: rgba(170, 203, 230, 0.331);
}
.container{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-top: 10px;
}
.content{
    margin-top: 50px;
    color: #303243;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;    
}
.main-heading{
    margin-top: 50px;
}
.main-heading h1{
    line-height: 19px;
    font-size: 30px;
    font-weight: bold;
}
.main-button-row{
    margin-top: 40px;
    display: flex;
    gap: 10px;
}
.main-button-row a{
    color:white;
    padding: 7px 15px;
    font-size: 17px;
}
.btn-story{
    background-color:#f2cc8f;
    border-radius: 20px;
}
.btn-story:hover{
    background-color: #e07a5f;
}
.main-button-row .member:hover{
    color: #f2cc8f ;
}



/* about style */
.aboutus{
    padding-bottom: 40px;
}
.about-container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    gap: 50px;
}
.about-content{
    /* text-align: justify; */
    line-height: 30px;
    padding-right: 80px;
}
.about-content h2{
    font-weight: 500;
}
.about-content p{
    color:#717275;
}
.person-img img{
    border-radius: 20px;
    width: 250px;
    height: 170px;
}
.person-img :hover{
    transform: scale(1.02);
}
.person-name {
    padding: 5px 10px; 
    display: flex;
    gap: 40px;
    align-items: center;
}
.person-name h2{
    margin-top: 0;
    font-weight: 500;
}
.person-name p{
    margin-top: 0;
    color:#717275;
}



/* message style */
.message{
    height: 90vh;
    background-image: url(./img/bat.jpg);
}
.message-container{
    padding: 40px;
    margin: 30px 0;
}
.message-box{
    width: 470px;
    height: 230px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.721);
    /* filter: blur(0.4px); */
    /* border: #f1f1f5 2px solid; */
    border-radius: 30px;
    padding: 30px;
}
.message-box h2{
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: black;
}
.message-box p{
    line-height: 30px;
    color:#717275;
}
.mail-box{
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
}
.mail-icon a{
    color: black;
    align-items: center;
    font-size: 30px;
}
.mail{
    padding: 8px 0;
    align-items: center;
}
.mail input{
    width: 260px;
    height: 30px;
    border: white;
    font-size: 20px;
    outline: none;
}
.mail-btn{
    align-items: center;
    background-color: #f2cc8f;
    padding: 10px 25px;
    border-radius: 25px;
}
.mail-btn:hover{
    background-color: #e07a5f;
}

/* membership */


.membership-container{
    display: flex;
    gap: 100px;
    /* justify-content: space-between; */
}
.membership-container h2{
    font-weight: 500;
}
.table{
    width: 570px;
    border-collapse: collapse;
}
.table td,th{
    padding: 17px;
}
.table th{
    background-color: #3d405b;
    color: white;
    font-weight:bold;
}
.table th:last-child{
    border-radius: 0 20px 0 0;
}
.table th:first-child{
    border-radius: 20px 0px 0 0;
}
.table td{
    font-weight: bold;
    color: #3d405b;
}
.table tbody tr:nth-child(2n){
    background-color: #f4f1de;
}
.table .table-text{
    text-align: left;
}
.table td {
    text-align: center;
}
#wrong{
    color: #e07a5f
}
#crt{
    color: #81b29a;
}
.form-contant h2{
    margin-top: 0;
    color: white;
}
.form-contant{
    background-color: #3d405b;
    border-radius: 20px;
    width: 390px;
    padding: 20px 40px;
}
#form1{
    font-size: 15px;
    border: rgb(176, 168, 168) 2px solid;
    border-radius: 40px;
    width: 90%;
    margin: 10px 0;
    padding: 15px;
}
.form-textarea{
    border: rgb(176, 168, 168) 2px solid;
    border-radius: 20px;
    min-height: 80px;
    margin-top: 10px;
    font-size: 15px;
    width: 97%;
}
#form1:hover{
    border: black 2px solid;
}
.form-textarea:hover{
    border: black 2px solid;
}
.form-btns{
    padding: 0;
    width: 100% !important;
    font-weight: bold;
    color: white;
    border: none  !important;
    background-color: #f2cc8f;
}
.form-btns:hover{
    background-color: #e07a5f;
}





/* upcoming events style */
.upcoming-events{
    background-color: #f4f1de;
}
.upcoming-events h1{
    font-size: 35px;
    font-weight: bold;
}
.event-container{  
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.event-contant{
    display: flex;
    height: 250px;
    /* border: #303243 2px solid; */
    padding: 30px 20px;
    gap: 40px;
}
.event-date{
    /* border: #303243 2px solid; */
    margin-left: 15px;
    text-align: center;
    padding: 20px 55px;
    background-color: #81b29a;
    height: 80px;
    line-height: 10px;
    border-radius: 20px;
}
.event-date h2{
    margin-top: 10px;
    font-weight: 600;
    font-size: 40px;
}
.event-date h3{
    font-weight: 600;
    line-height: 5px;
    font-size: 15px;
    color: white;
}
.event-img img{
    border-radius: 20px;
    width: 330px;
    height: 200px;
    position: relative;
}

.event-img img:hover {
    transform: scale(1.03);
}
.event-message h2{
    color: #3d405b;
    margin-top: 4px;
    font-weight: 600;
}
.event-message h2:hover{
    color: #f2cc8f;
}
.event-message p{
    margin-top: 0px;
    font-weight: 500;
    color:#717275;
}
.event-message-box{
    line-height: 2;
    border-bottom: black 1px solid;
}
.ticket-box{
    padding: 15px 0 0;
    display: flex;
    gap:10px;
}
.ticket-btn button{
    margin: 20px 0 20px 90px;
    background-color: #f2cc8f;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
}
.ticket-btn button:hover{
    background-color: #e07a5f;
}







#event-contant{
    background-color: white;
    border-radius: 20px;
}